<a href="https://colab.research.google.com/github/naitik2424/java-learning/blob/main/AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# basic

message = 'naitik\'s son'
# message = message.replace('son', 'Universe')
new_message = message.replace('son', 'Universe')
print(new_message)
print(message[:6])
print(message[5:])
print(message.upper())
print(message.count('naitik'))
print(message.count('i'))
print(message.find('o'))
print(message.find('hello' + 'this will print -1'))

In [ ]:
# formating

greeting = 'Hello'
name = 'Naitik'
# message = greeting + ', ' + name + '. Welcome!'
# message = '{}, {} Welcome!'.format(greeting, name)
message = f'{greeting}, {name.upper()} Welcome!'
print(message)

In [ ]:
# arthimatic

print(3/2)
print(3//2)
print(3 ** 2)
print(3%2)
print(abs(-3))
print(round(3.75, 1))

In [ ]:

# list

courses = ['history', 'science','math', 'book']
courses_2 = ['art', 'education']

# print(len(courses))
# print(courses[0])
# print(courses[-1])
# print(courses[0:2])
# courses.append('Art')
# print(courses)
courses.insert(0, 'Art')
# courses.reverse()
# courses.insert(0, courses_2 )
# courses.append(courses_2)
courses.extend(courses_2)
courses.remove("book")
courses.sort()
# courses.sort(reverse=True)
# print(courses)
# print(courses.index('education'))
for index, course in enumerate(courses, start = 1):
    print(index, course)

In [ ]:
courses = ['History', 'math', 'physics', 'compsci']
course_str = ' ,_'.join(courses)
print(course_str)

In [ ]:
# dictionaries

student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
# print(student['courses'])
# print(student.get('phone', 'not found'))
# print(student.get('name'))
# del student['age']
# age = student.pop('age')
# print(age)

# print(student.keys())
# print(student.values())
# print(student.items())

for key,value in student.items():
    print(key, value)

In [ ]:
language = 'Python'
if language == 'Python':
    print('condition was true')

In [ ]:
# and
user = 'Admin'
logged_in = False

if user == 'Admin' and logged_in:
    print('Admin page')
else:
    print('bad creds')
user = 'Admin'
logged_in = False

# or
if user == 'Admin' or logged_in:
    print('Admin page')
else:
    print('bad creds')

In [ ]:
a = [1,2,3]
# b = [1,2,3]
b = a
print(id(a))
print(id(b))
print(a == b)
print(a is b)

In [ ]:
def hello_func():
   return 'hello function.'

print(hello_func().upper())

In [ ]:
def hello_func(greeting, name):
   return f'{greeting}, {name}.'

print(hello_func('Hi!','naitik').upper())

In [ ]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)
courses = ['math', 'art']
info = {'name': 'john', 'age': 22}
# student_info('math', 'art', name='john', age = 22)
# student_info(courses, info)
student_info(*courses, **info)